:root {
    --main-couleur: #B8860B;
    --couleur-secondaire:#003366;
    --blue-secondaire:#1C39BB;
    --blue-pale:#66B3FF;
    --blue-assistance:#007bff;
    --rouge:#8B0000;
    --gris:#383838;
    --gris-pale:#D1D1D1;
    --blanc:#fff;
    --noire:#0000;
  }

 