/* Conteneur principal de la section "Avis des enchérisseurs" */
.bloc-temoignages{
    padding: 20px;
    max-width: 1200px;
}
.bloc{  
    padding: 20px;             
    border-radius: 8px;       
    border: 1px solid var(--gris-pale);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.bloc-temoignages h3{
    margin-bottom: 20px;
    text-align: left;
    font-size: 24px;
}

.note-avis{
    margin-bottom: 20px;
    text-align: left;
    font-size: 18px;
}
.commentaire {
    width: 300px;  
    height: 250px;        
    border-radius: 8px;     
    border: 1px solid var(--gris-pale);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;     
    transition: 0.3s ease; 
}
.commentaire:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}
.nom-utilisateur {
    font-size: 20px;
    font-weight: bold;
    color: var(--blue-secondaire);
    margin-bottom: 0.5rem;
}
.texte-avis {
    font-size: 16px;
    margin-bottom: 0.5rem;
    color: var(--gris);
}
.date-avis {
    font-size: 14px;
    color: #666;
}
.ajouter-avis {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--blue-secondaire);
    color: #fff;
    padding:12px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size:16px;
    transition: 0.3s ease;
}
.ajouter-avis:hover {
    background-color: var(--main-couleur);
}