
.barre-stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--blanc);
    padding: 15px;
    margin-top: 20px; 
   
}


.element-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
}

.chiffre-stat {
    font-size: 22px;
    font-weight: bold;
    color: var(--blue-secondaire);
}

.libelle-stat {
    font-size: 14px;
    color: var(--gris);
}


@media (max-width: 800px) {
    .barre-stats {
        flex-direction: column;
        gap: 10px;
        margin-top: 70px;
        padding: 10px;
    }

    .chiffre-stat {
        font-size: 18px;
    }

    .libelle-stat {
        font-size: 12px;
    }


    .menu-container {
        position: relative;
        z-index: 1000; 
    }

    .menu-burger {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1100; 
    }


    .menu-container.open + .barre-stats {
        margin-top: 120px; 
    }
}


@media (max-width: 500px) {
    .barre-stats {
        margin-top: 90px;
    }

    .chiffre-stat {
        font-size: 16px;
    }

    .libelle-stat {
        font-size: 12px;
    }
}
