.filtre {
    justify-content: space-between; 
}
.barre-laterale {
    display: flex;
    flex-direction: column;
    background: var(--blanc);
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-basis: 20ch;
    max-height: 160vh;
    border: 2px solid var(--main-couleur);
}
.en-tête-barre-laterale {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background:  var(--blanc);
    border: 1px solid var(--main-couleur);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.en-tête-barre-laterale{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.6px;
}
.element-filtre {
    padding: 20px;
    border-bottom: 1px solid var(--main-couleur);
    max-width: 250px; 
    overflow: hidden;
}

.element-filtre:last-child {
    border: none;
  }
  
.titre-filtre {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
}
.conteneur-filtre{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
}
.element-filtre ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.element-filtre li {
    display: flex;
    align-items: center;
    gap: 8px;
}
.conteneur-plage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.conteneur-selection {
    display: flex;
    justify-content: left;
}
.conteneur-selection select {
    padding: 5px;
    font-size: 12px;
    text-align: center;
    margin-left: 5px;
}
.element-filtre input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid var(--main-couleur);
    cursor: pointer;
}
.element-filtre  input[type="checkbox"]:checked {
    background-color:var(--blue-pale); 
    border-color:var(--blue-pale); 
}
.element-filtre  input[type="checkbox"]:checked::after {
    content: "✔";
    font-size: 12px;
    color: white;
    display: block;
    text-align: center;
   padding-bottom: 10px;
}
.conteneur-plage {
    display: flex;
    gap: 10px; 
}
[id="valeurPrix"]::before{
   content: "$";
}
